*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #EFF5F5;
    overflow: auto;
}
#searchWrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 800px;
    padding: 1.5rem;
    background: #497174;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    
}
#contentWrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


